.box {
  width: 400px;
  height: 100px;
}

.no-diyigecanshu {
  /* 从上到下渐变 */
  background: linear-gradient(hotpink, darkblue);
}

.to-bottom {
  /* 从上到下 */
  background: linear-gradient(to bottom, hotpink, darkblue);
}

.to-45 {
  background: linear-gradient(45deg, #fc466b, #3f5efb);
}
