.one {
  background-color: #05ffb0;
}

.two {
  background-color: #00e7eb;
}

.three {
  background-color: #ff3860;
}

.four {
  background-color: #ffdd57;
}

.five {
  background-color: #ff470f;
}
.six {
  background-color: #b86bff;
}

.empty {
  background-color: #ccc;
}

.qi {
  background-color: blue;
}
.ba {
  background-color: coral;
}
.jiu {
  background-color: darkgreen;
}
