/** CSS 重置有助于在不同浏览器之间强制执行样式一致性，并为样式元素提供干净的状态。您可以使用 CSS 重置库（如 Normalize 等），也可以使用更简化的重置方法： */

/** https://github.com/AllThingsSmitty/css-protips#use-a-css-reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
