@tailwind base;
@tailwind components;
@tailwind utilities;
.relative{
  position: relative;
}

img{
  width: 6rem;
  height: 6rem;
  object-fit: cover;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.1) 0px 8px 10px -6px;
}

