---
---
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <section>
      <nav>
        <a href="#">主页</a>
       
      </nav>
      <main>
        <slot />
      </main>
    </section>
   
   
   
   
  </body>
</html>

<style>

nav{
display: flex;
flex-direction: column;
}
</style>